<?xml version="1.0"?>
<robot name="multisense_sl">

<!-- head from multisense_sl_v4.urdf -->

  <link name="head">
    <inertial>
      <origin xyz="-0.075493 3.3383E-05 0.02774" rpy="0 0 0" />
      <mass value="1.41984" />
      <inertia iyy="0.0041178" ixy="-1.5797E-06" iyz="-6.8415E-07" ixx="0.0039688" ixz="-0.00089293" izz="0.0035243" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://multisense_sl_description/meshes/head.obj" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  <collision>
    <origin xyz="-0.0503 0 -0.00195" rpy="0 0 0" />
    <geometry>
      <box size="0.1311 0.12 0.0591"/>
    </geometry>
  </collision>
  <collision>
    <origin xyz="-0.093 0 0.0868" rpy="0 0 0" />
    <geometry>
      <box size="0.0468 0.12 0.1184"/>
    </geometry>
  </collision>
  </link>
  <link name="ltorso">
    <inertial>
      <mass value="2.270"/>
      <origin rpy="0 -0 0" xyz="-0.0112984 -3.15366e-06 0.0746835"/>
      <inertia ixx="0.0039092" ixy="-5.04491e-08" ixz="-0.000342157" iyy="0.00341694" iyz="4.87119e-07" izz="0.00174492"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes_unplugged/ltorso.obj" scale="1 1 1"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <link name="mtorso">
    <inertial>
      <mass value="0.799"/>
      <origin rpy="0 -0 0" xyz="-0.00816266 -0.0131245 0.0305974"/>
      <inertia ixx="0.000454181" ixy="-6.10764e-05" ixz="3.94009e-05" iyy="0.000483282" iyz="5.27463e-05" izz="0.000444215"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes_unplugged/mtorso.obj" scale="1 1 1"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0 0.02"/>
      <geometry>
        <cylinder length="0.15" radius="0.02"/>
      </geometry>
    </collision>
  </link>
  <link name="pelvis">
    <inertial>
      <mass value="9.509"/>
      <origin rpy="0 -0 0" xyz="0.0111 0 0.0271"/>
      <inertia ixx="0.1244" ixy="0.0008" ixz="-0.0007" iyy="0.0958" iyz="-0.0005" izz="0.1167"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes_unplugged/pelvis.obj" scale="1 1 1"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.5707963267949 0 0" xyz="0.046 0.0 0.01"/>
      <geometry>
        <cylinder length="0.06" radius="0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.5707963267949 0 0" xyz="-0.03 0.0 0.01"/>
      <geometry>
        <cylinder length="0.06" radius="0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.01 0.042 0.09"/>
      <geometry>
        <cylinder length="0.05" radius="0.16"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.01 -0.042 0.09"/>
      <geometry>
        <cylinder length="0.05" radius="0.16"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.1 0 -0.02"/>
      <geometry>
        <box size="0.1 0.15 0.2"/>
      </geometry>
    </collision>
  </link>
  <link name="utorso">
    <inertial>
      <mass value="84.409"/>
      <origin rpy="0 -0 0" xyz="-0.0622 0.0023 0.3157"/>
      <inertia ixx="1.577" ixy="-0.032" ixz="0.102" iyy="1.602" iyz="0.047" izz="0.565"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes_unplugged/utorso.obj" scale="1 1 1"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.102 0 0.25"/>
      <geometry>
        <box size="0.4 0.35 0.5"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 1.5707 0" xyz="0.2 0 0.46"/>
      <geometry>
        <box size="0.13 0.50 0.10"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 1.7 0" xyz="0.2 0 0.285"/>
      <geometry>
        <box size="0.2 0.23 0.10"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 2.0 0" xyz="0.15 0 0.10"/>
      <geometry>
        <box size="0.2 0.18 0.10"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.035 0 0.6265"/>
      <geometry>
        <box size="0.506306 0.341719 0.12"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.5707 0 0" xyz="0.208 0 0.8215"/>
      <geometry>
        <cylinder length="0.13" radius="0.008"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.38535 0 0" xyz="0.208 -0.125 0.745"/>
      <geometry>
        <cylinder length="0.15" radius="0.008"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.38535 0 0" xyz="0.208 0.125 0.745"/>
      <geometry>
        <cylinder length="0.15" radius="0.008"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.38535 0 0" xyz="0.063 -0.125 0.745"/>
      <geometry>
        <cylinder length="0.15" radius="0.008"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.38535 0 0" xyz="0.063 0.125 0.745"/>
      <geometry>
        <cylinder length="0.15" radius="0.008"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.5707 0 1.5707" xyz="0.14 0.06 0.8215"/>
      <geometry>
        <cylinder length="0.15" radius="0.008"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.5707 0 1.5707" xyz="0.14 -0.06 0.8215"/>
      <geometry>
        <cylinder length="0.15" radius="0.008"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 -0.65 0" xyz="-0.029 0 0.731"/>
      <geometry>
        <box size="0.2 0.25 0.01"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.5707 0 0" xyz="0.063 0 0.8215"/>
      <geometry>
        <cylinder length="0.13" radius="0.008"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.5707 0 0" xyz="0.261 0.156 0.6215"/>
      <geometry>
        <cylinder length="0.016" radius="0.055"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="1.5707 0 0" xyz="0.261 -0.156 0.6215"/>
      <geometry>
        <cylinder length="0.016" radius="0.055"/>
      </geometry>
    </collision>
  </link>
  <joint name="back_bkx" type="fixed">
    <origin rpy="0 -0 0" xyz="0 0 0.05"/>
    <axis xyz="1 0 0"/>
    <parent link="mtorso"/>
    <child link="utorso"/>
    <dynamics damping="0.1" friction="0"/>
    <limit effort="300" lower="-0.523599" upper="0.523599" velocity="12"/>
    <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10.5236" soft_upper_limit="10.5236"/>
  </joint>
  <joint name="back_bky" type="fixed">
    <origin rpy="0 -0 0" xyz="0 0 0.162"/>
    <axis xyz="0 1 0"/>
    <parent link="ltorso"/>
    <child link="mtorso"/>
    <dynamics damping="0.1" friction="0"/>
    <limit effort="445" lower="-0.219388" upper="0.538783" velocity="9"/>
    <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10.2194" soft_upper_limit="10.5388"/>
  </joint>
  <joint name="back_bkz" type="fixed">
    <origin rpy="0 -0 0" xyz="-0.0125 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="pelvis"/>
    <child link="ltorso"/>
    <dynamics damping="0.1" friction="0"/>
    <limit effort="106" lower="-0.663225" upper="0.663225" velocity="12"/>
    <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10.6632" soft_upper_limit="10.6632"/>
  </joint>
  <joint name="neck_ry" type="fixed">
    <origin rpy="0 -0 0" xyz="0.2546 0 0.6215"/>
    <axis xyz="0 1 0"/>
    <parent link="utorso"/>
    <child link="head"/>
    <dynamics damping="0.1" friction="0"/>
    <limit effort="5" lower="-0.602139" upper="1.14319" velocity="6.28"/>
    <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10.6021" soft_upper_limit="11.1432"/>
  </joint>
</robot>
